{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"checkIgnorePragma": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"objectWrap": "collapse",
	"overrides": [],
	"plugins": [],
	"printWidth": 80,
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
